* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

.navbar {
    background-color: white;
    font-family: 'Istok Web', sans-serif;
    padding: 1rem;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    margin-left: 28px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 185px 0 0;
}

li {
    list-style: none;
    margin: 0 1.5rem;
}

li a {
    color: black;
    font-size: 1rem;
    position: relative;
    padding-bottom: 0.3rem;
}

li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: black;
    transition: width 0.3s ease;
}

li a:hover::after {
    width: 100%;
}

.cart-icon img {
    display: flex;
    width: 20%;
    height: 20%;
    align-items: center;
    position: relative;
    margin: 0 -115px 0 0 ;
}

.cover-image-tops {
    display: block;
    margin-left: 21em;
    margin-top: 2em;
    width: 50%;
}

.product-grid-tops {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding: 5em;
    align-items: center;
}

.product-item {
    text-align: center;
}

.product-item img {
    width: 50%;
    height: auto;
    display: inline-block;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.product-information-tops {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px; /* Add space between image and text */
}

.product-name-tops {
    word-wrap: break-word; /* Allow long words to wrap */
}


/* Responsive Design */
@media (max-width: 1366px) {
    .product-grid-tops {
        gap: 15px;
    }
}

@media (max-width: 1024px) {
    .product-grid-tops {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .product-grid-tops {
        grid-template-columns: repeat(2, 1fr);
    }
}